@import url(/css/resset.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

:root {
}
main {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logroTravel {
  height: 300px;
  width: 300px;
  background-image: url(../img/Mesa_de_trabajo_2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1 {
  font-size: 20px;
  margin: 0 0 20px;
  color: #006cb5;
}
.containText {
  width: 384px;
  border: solid 1px rgb(201, 199, 199);
  padding: 10px;
  text-align: center;
  background-color: beige;
}

.textOne {
  color: gray;
  margin: 0;
  font-size: 14px;
}
.containForm {
  display: flex;
  flex-direction: column;
  width: 384px;
  border: 1px solid gray;
  padding: 20px 20px;
  border-top: none;
  border: solid 1px rgb(201, 199, 199);
}

.labelForm {
  margin: 5px 0;
  color: #040444;
  font-weight: 500;
}

.inputForm {
  border: 1px solid rgb(190, 188, 188);
  border-radius: 0.2rem;
  height: 30px;
  box-shadow: 0px 0px 13px -9px rgba(230, 61, 9, 1);
}
#descripcion {
  height: 150px;
}

.containButtos {
  margin: 20px 40px;
  display: flex;
  justify-content: space-around;
}

.buttonOne,
.buttonTwo {
  height: 3rem;
  width: 6rem;
  background-color: rgba(230, 61, 9, 1);
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 0.4rem;
  cursor: pointer;
}
.buttonOne:hover,
.buttonTwo:hover {
  background-color: rgb(255, 125, 77);
}

.exclusive {
  width: 384px;
  background-color: beige;
  border: solid 1px rgb(201, 199, 199);
  color: gray;
  margin: 0;
  font-size: 12px;
  text-align: center;
}
